/* Importando a fonte Manrope ExtraBold do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/* Estilos gerais para a navbar */
.navbar {
    font-family: 'Manrope', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    position: fixed;
    /* Fixa o conteúdo do header no topo */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    /* Garante que o header fique acima de outros elementos */
    background: transparent;
    transition: all 0.42s ease;
}

/* Navbar fixa quando a classe navbar-fixed é aplicada */
.navbar-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Alteração de cor do logo quando o header está fixo */
.navbar-fixed .logo {
    color: #1B1B1B !important;
    /* Cor do logo */
}

/* Alteração das cores dos links de navegação quando o header está fixo */
.navbar-fixed .nav-links li a {
    color: #1B1B1B !important;
    /* Cor dos links */
    transition: 0.42s all;
}

.navbar-fixed .nav-links li a:hover {
    color: #C76A37 !important;
    /* Cor dos links */
}

/* Alteração da cor do botão de login quando o header está fixo */
.navbar-fixed .login-button {
    background-color: #C76A37 !important;
    /* Cor do fundo */
    color: white !important;
    /* Cor do texto */
}

/* Alteração das cores dos itens da linguagem quando o header está fixo */
.navbar-fixed .language-toggle {
    color: #1B1B1B !important;
    /* Cor do texto de linguagem */
}

/* Container da navbar */
.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

/* Logo */
.logo {
    font-weight: 800;
    font-size: 30px;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

/* Links de navegação */
.nav-links-container {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links li a {
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    font-size: 15px;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

/* Ações de navegação */
.nav-actions {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* Estilo para os links de navegação */
.nav-links li a {
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    font-size: 15px;
    color: white;
    text-decoration: none;
    transition: color 0.43s ease, text-decoration 0.43s ease;
}

/* Cor do link ativo */
.nav-links li a.active {
    color: #C76A37 !important;
    /* Cor laranja permanente */
}

/* Efeito de hover (quando o mouse passa sobre o link) */
.nav-links li a:hover {
    color: #C76A37;
    /* Cor laranja no hover */
}


/* Estilo do botão de login */
.login-button {
    background-color: #fff;
    font-weight: 600;
    padding: 8px 15px;
    border-radius: 5px;
    color: #333;
    text-decoration: none;
    font-size: 1em;
    transition: background-color 0.3s, color 0.3s;
}

/* Espaço para o conteúdo não ser escondido atrás do header */
body {
    padding-top: 70px;
    /* Ajuste conforme a altura do seu header */
}

/* Estilos do dropdown de idioma */
.language-selector {
    position: relative;
    display: inline-block;
    margin-right: 100px;
}

.language-toggle {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.language-img {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.language-dropdown {
    display: none;
    position: absolute;
    top: 200%;
    left: -100%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 150px;
    z-index: 1000;
}

.language-option {
    display: flex;
    border-radius: 8px;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

.language-option:hover {
    background-color: #f0f0f0;
}

.flag-icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.checkmark {
    margin-left: auto;
    color: #4CAF50;
}

.profile-circle {
    width: 50px;
    height: 50px;
    border-radius: 80%;
    overflow: hidden;
}

.profile-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Garantir que a imagem se ajuste corretamente ao círculo */
}

/* Geral do Dropdown */
.profile-dropdown {
    position: relative;
}

.profile-circle {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.profile-circle img {
    width: 100%;
    border-radius: 50%;
}

/* Dropdown escondido inicialmente */
.dropdown-menu {
    display: none;
    /* Oculto por padrão */
    position: absolute;
    top: 50px;
    right: 0;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1000;
    width: 250px;
    overflow: hidden;
}

/* Cabeçalho do dropdown */
.dropdown-header {
    padding: 15px;
    display: flex;
    align-items: center;
    /* Alinha verticalmente ao centro */
    position: relative;
    /* Para posicionar a linha */
    justify-content: space-between; /* Garante que o conteúdo seja distribuído ao longo da largura */
}

/* Linha de separação */
.dropdown-header::after {
    content: "";
    /* Adiciona a linha como pseudo-elemento */
    position: absolute;
    bottom: 0;
    /* Posiciona a linha na parte inferior do cabeçalho */
    left: 5%;
    /* Centraliza ao ocupar 80% */
    width: 90%;
    /* Largura da linha */
    height: 1.8px;
    /* Espessura da linha */
    background-color: #636262;
    /* Cor da linha */
}

.dropdown-profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

/* Nome do usuário agora estará à frente da imagem */
.dropdown-username {
    font-size: 16px;
    font-weight: bold;
    margin-right: auto; /* Garante que o nome seja colocado à frente da imagem */
}

/* Ícone de notificação */
.notification-icon {
    width: 25px; /* Tamanho da imagem de notificação */
    height: auto;
    cursor: pointer; /* Se desejar um comportamento de clique */
}

/* Lista de opções do dropdown */
.dropdown-options {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown-options li {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
    cursor: pointer; /* Certifica-se de que todas as opções tenham o mesmo cursor */
    justify-content: space-between; /* Garante que os ícones fiquem alinhados à esquerda e a seta à direita */
}

/* Links e Botões */
.dropdown-options li a,
.dropdown-options li button {
    all: unset; /* Remove estilos padrões */
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
    width: 100%;
    transition: background-color 0.3s ease;
    justify-content: space-between; /* Alinha ícones à esquerda e seta à direita */
}

/* Ícone redondo */
.dropdown-options li img.icon {
    background-color: #dddddd; /* Cor de fundo do círculo */
    width: 40px; /* Largura do círculo */
    height: 40px; /* Altura do círculo (igual à largura para formar um círculo) */
    margin-right: 20px; /* Espaçamento entre o ícone e o texto */
    border-radius: 50%; /* Torna o fundo redondo */
    padding: 8px; /* Espaço interno opcional */
}

/* Seta à direita */
.arrow {
    width: 15px; /* Tamanho da seta */
    height: auto;
    margin-left: auto; /* Alinha a seta à direita */
    opacity: 0.6; /* Deixa a seta um pouco mais sutil */
}

/* Alteração de cor ao passar o mouse */
.dropdown-options li:hover {
    background: #f0f0f0;
}

.dropdown-options li:hover img.arrow {
    opacity: 1; /* Deixa a seta mais visível ao passar o mouse */
}

/* A linha de logout tem de ter o mesmo alinhamento da seta */
#logoutButtonArrow {
    margin-left: 90px; /* Ajusta o alinhamento para o botão de logout */
}

/* Ícone de notificação */
.notification-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.notification-icon:hover {
    transform: scale(1.1);
}

/* Container do toast de notificação */
.toast-container {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 20px;
    z-index: 9999;
}

/* Toast */
.toast {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    visibility: hidden;
}

/* Exibição do toast quando ativado */
.toast.show {
    opacity: 1;
    visibility: visible;
}

/* Cabeçalho do toast */
.toast-header {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    background-color: #f8f8f8;
    border-radius: 8px 8px 0 0;
}

.notification-bell {
    font-size: 20px;
    margin-right: 10px;
}

.toast-title {
    font-weight: bold;
    flex-grow: 1;
    font-size: 16px;
}

.trash-icon {
    font-size: 20px;
    cursor: pointer;
}

.close-toast {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 0;
    margin-left: 10px;
}

/* Corpo do toast */
.toast-body {
    padding: 10px;
    font-size: 14px;
    color: #333;
}

/* Estilo da lista de notificações */
.toast-accordion {
    list-style: none;
    padding: 0;
    margin: 0;
}

.toast-accordion .notification-item {
    border-radius: 5px;
    padding: 10px;
}

.notification-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.notification-content {
    padding: 10px;
    color: #333;
    font-size: 14px;
    display: none; /* Ocultar o conteúdo por padrão */
}

.toggle-button {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s;
}


.toast-accordion .notification-item:hover {
    background-color: #f0f0f0;
}

.toast-accordion .accordion-button {
    text-align: left;
    padding: 10px;
    width: 100%;
    background-color: #f8f8f8;
    border: none;
    font-size: 14px;
    font-weight: bold;
}

.toast-accordion .accordion-collapse {
    padding: 10px;
    background-color: #fafafa;
    font-size: 12px;
    color: #333;
}

/* Estilo de notificação lida */
.notification-unread {
    background-color: white;
    color: black;
    font-weight: bold;
}

.notification-read {
    background-color: #f0f0f0; /* Cinza claro */
    color: #a0a0a0;
    font-weight: normal;
}


/* Configuração da animação do ícone de notificação */
@keyframes slideUp {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.toast.show {
    animation: slideUp 0.5s ease-out;
}

/* Adicionar setas para abrir/fechar notificações */
.accordion-button::after {
    content: '\2193'; /* Seta para baixo */
    font-size: 18px;
    color: #888;
    float: right;
    transition: transform 0.3s ease;
}

.accordion-button.collapsed::after {
    content: '\2191'; /* Seta para cima */
    transform: rotate(180deg); /* Rotaciona a seta quando a notificação está fechada */
}

/* Estilo do botão de fechar */
.close-toast {
    font-size: 18px;
    color: #888;
    cursor: pointer;
}

