* {
    font-family: 'Manrope', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
    min-height: 100vh;
}

body {
    color: #1B1B1B;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.x-header {
    position: relative; /* Cria o contexto de posicionamento */
    z-index: 10; /* Coloca o x-header acima do .header */
}

.header {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
        url('/public/images/hotelPageBackground.jpg');
    background-size: cover;
    background-position: center;
    height: 350px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute; /* Faz a .header ser posicionada de forma absoluta */
    top: 0%; /* Posiciona abaixo do x-header */
    left: 0;
    right: 0;
    z-index: -1; /* Coloca a .header atrás de x-header */
}

.header h1 {
    font-size: 4.5rem;
}

.header p {
    font-size: 1.5rem;
}

input, select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    outline: none;
}

input::placeholder, select::placeholder {
    font-weight: normal;
}

select {
    background-color: white;
    color: #8c8c8c;
}

.box {
  max-width: 100%;
  margin: 0 auto;
  margin-top: 200px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-home-page {
  width: 100%;
  max-width: 1000px;
  background-color: #d9d9d9;
  border-radius: 8px;
  padding: 20px;
}

.overlap-group {
  display: flex;
  flex-wrap: wrap; /* Permite que os elementos se ajustem ao redimensionar */
  gap: 15px; /* Espaço entre os campos */
  justify-content: space-between;
}

.search-field {
  flex: 1 1 calc(25% - 15px); /* Cada campo ocupa 25% do espaço com gap */
  display: flex;
  flex-direction: column;
}

.search-field label {
  font-size: 14px;
  margin-bottom: 8px;
  font-weight: bold;
  color: #1B1B1B;
}

.search-field input,
.search-field select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  outline: none;
}

.search-button {
  flex: 1 1 100%; /* Botão ocupa largura total */
  display: flex;
  justify-content: center;
}

.search-button button {
  padding: 10px 20px;
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  background-color: #2081A5;
  color: white;
  cursor: pointer;
  transition: 0.43s all;
}

.search-button button:hover {
  background-color: #207391;
}

/* Responsividade */
@media (max-width: 768px) {
  .search-field {
      flex: 1 1 100%; /* Cada campo ocupa 100% no mobile */
  }
}

.hotel {
    margin-top: 100px;
    margin-bottom: 200px;
}

#map {
    height: 500px;
    max-width: 1200px;
    margin: 0 auto;
    border: 2px solid #ddd;
    border-radius: 8px;
    z-index: -1;
}

@media (max-width: 768px) {
    #map {
        margin: 0 15px;
    }
}

.hotel-section {
    padding: 40px 20px;
    background-color: #ffffff;
    text-align: left;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto 20px;
    margin-top: 100px;
    background: none;
}

.title-line-container {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.title-line-container h2 {
    font-size: 1.8rem;
    color: #1B1B1B;
    margin-right: 20px;
}

.title-line-orange {
    width: 100%;
    height: 3px !important;
    background-color: #C76A37;
    border: none;
    opacity: 100% !important;
}

.title-line-blue {
    width: 100%;
    height: 3px !important;
    background-color: #2081A5;
    border: none;
    opacity: 100% !important;
}

.single-column-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    gap: 20px;
    max-width: 1000px;
    margin: 20px auto;
}

.single-column-container a {
    text-decoration: none;
    color: inherit;
}

@media (max-width: 768px) {
    .single-column-container {
        margin: 20px 15px;
    }
}

.sortby-container, .filter{
    padding: 10px;
    background-color: #F1F1F1;
    display: flex;
    font-weight: bold;
    margin-left: 20px;
    cursor: pointer;

}

.sortby-container img, .filter img {
    width: 24px;
    margin-left: 10px;
}

.sortby-container {
    position: relative;
}


#sortByIcon {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    top: 100%;
    left: 0;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

/* Mostrar o dropdown quando clicado */
.dropdown-content.show {
    display: block;
}

.text-container {
    max-width: 550px;
    width: 100%;
    text-align: left;
}

.hotel-card {
    background-color: #fff;
    height: 350px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: flex-start;
    text-align: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}




.hotel-card h2, p {
    margin-top: 30px;
    margin-left: 30px;
}

.hotel-card:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.hotel-card .image-container-hotel {
    width: 40%;
    height: 100%;
    background-color: #cdcdcd;
    object-fit: cover;
}

.image-container-hotel .price-tag {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #C76A37;
    color: white;
    padding: 8px 12px;
    font-size: 1.2rem;
    font-weight: bold;
    z-index: 0;
}
  
.image-container-hotel .price-tag span {
    font-size: 0.9rem;
    font-weight: normal;
}

/* Estilo da barra lateral */
.sidebar {
    margin-top: 20px;
    height: 80%;
    width: 100%;
    max-width: 400px;
    position: fixed;
    right: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: white;
    overflow-x: hidden;
    overflow-y: auto;
    transition: transform 0.43s ease-in-out;
    padding: 40px;
    transform: translateX(100%);
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.sidebar.active {
    transform: translateX(0);
}

.sidebar h2 {
    margin-top: 0;
    text-align: center;
}

.sidebar .filter-group {
    margin: 20px 0;
}

.sidebar .filter-group h3 {
    margin-bottom: 10px;
    display: flex;
}

.sidebar .filter-group h3 img {
    margin-right: 10px;
    width: 24px;
    height: 24px;
}

.sidebar .filter-group label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.sidebar .filter-group select {
    background-color: #f1f1f1;
}

/* Botão "Filter" */
.filter {
    cursor: pointer;
    display: flex;
    align-items: center;
}

/* Estilos para o Toggle Switch */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
    margin-right: 8px;
    /* Espaço entre o switch e o texto */
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(174, 174, 174);
    transition: background-color 0.4s;
    border-radius: 34px;
}

.slider::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: transform 0.4s;
    border-radius: 50%;
}

.switch input:checked+.slider {
    background-color: #2081A5;
}

.switch input:checked+.slider::before {
    transform: translateX(26px);
}

.blur-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: none;
    z-index: 1;
}
/* Estilo para a navegação de paginação */
.pagination {
    display: flex;
    justify-content: flex-end; /* Alinha à direita */
    align-items: center; /* Alinha verticalmente os itens */
    margin-top: 20px; /* Espaço acima */
    margin-bottom: 20px; /* Espaço abaixo */
}

/* Estilo para os links de paginação */
.pagination a,
.pagination span {
    margin: 0 5px; /* Espaço entre os itens de paginação */
    padding: 8px 12px; /* Ajuste de espaçamento */
    border: 1px solid #ccc; /* Borda suave */
    text-decoration: none; /* Remove sublinhado */
    color: #007bff; /* Cor do texto dos links */
    font-weight: bold; /* Deixa o texto mais destacado */
    border-radius: 5px; /* Bordas arredondadas */
    font-size: 14px; /* Ajuste o tamanho da fonte */
    transition: background-color 0.3s ease; /* Transição suave para fundo */
}

/* Efeito ao passar o mouse sobre o link */
.pagination a:hover {
    background-color: #f1f1f1; /* Cor de fundo ao passar o mouse */
}

/* Estilo para o link ativo */
.pagination .active {
    background-color: #007bff; /* Cor de fundo azul */
    color: white; /* Cor do texto branca */
    cursor: default; /* Desativa o clique no link ativo */
}

/* Estilo para links desabilitados */
.pagination .disabled {
    color: #ccc; /* Cor para links desativados */
    cursor: not-allowed; /* Desativa o clique */
}

/* Estilo para as setas de navegação (anterior e próxima) */
.pagination .page-link svg path{
    width: 12px !important;
    height: 12px !important;
}

/* Estilo específico para os botões "Previous" e "Next" */
.pagination .previous span,
.pagination .next span {
    font-size: 14px; /* Ajuste o tamanho das setas */
    display: flex;
    justify-content: center; /* Centraliza as setas */
    align-items: center; /* Alinha as setas verticalmente */
    padding: 6px 12px; /* Tamanho adequado do botão */
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Efeito suave de transição */
}

/* Efeito de hover para as setas */
.pagination .previous span:hover,
.pagination .next span:hover {
    background-color: #f1f1f1; /* Cor de fundo suave ao passar o mouse */
}

/* Responsividade: em telas pequenas */
@media (max-width: 768px) {
    .pagination {
        justify-content: center; /* Centraliza os itens em telas menores */
    }

    .pagination a,
    .pagination span {
        font-size: 12px; /* Ajusta o tamanho da fonte para dispositivos pequenos */
        padding: 6px 10px; /* Ajuste no padding em telas pequenas */
    }

    .pagination .page-link svg {
        width: 12px !important;
        height: 12px !important;
    }
    
}

