* {
    font-family: 'Manrope', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Manrope', sans-serif;
    overflow-x: hidden;
    min-height: 100vh;
}

body {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url('/public/images/paymentBackground.png');
    background-size: cover;
    background-position: center;
}

.main-content {
    margin-top: 100px;
    margin-bottom: 200px;
}

.payment-section {
	background-color: rgb(240, 240, 240, 0.9);
    padding: 50px;
    border-radius: 8px;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.subtitle {
	font-size: 30px;
	font-weight: bold;
}

.title-line-container {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.title-line-container .titleWithHr {
    font-size: 22px;
    margin-right: 20px;
	font-weight: bold;
}

.title-line-orange {
    width: 100%;
    height: 3px !important;
    background-color: #C76A37;
    border: none;
    opacity: 100% !important;
}

.title-line-blue {
    width: 100%;
    height: 3px !important;
    background-color: #2081A5;
    border: none;
    opacity: 100% !important;
}

.paymentMethod {
	display: flex;
    justify-content: space-between;
    align-items: center;
	background-color: #B1B1B1;
	height: 76px;
	border-radius: 8px;
	margin-top: 30px;
	margin-bottom: 30px;
    padding: 15px;
}

.paymentMethod img {
	width: 150px;
}

.title {
	margin-top: 20px;
	font-size: 80px;
	color: white;
	font-weight: bold;
	text-align: center !important;
}

.reviewInformationUpper {
	margin-top: 18px;
	padding: 15px;
	background-color: #B1B1B1;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.info-title {
	font-weight: bold;
}
	
.reviewInformationLower {
	padding: 15px;
	background-color: #D9D9D9;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

.button {
	cursor: pointer;
	text-align: center;
	vertical-align: middle;
	line-height: 42px;
	width: 114px;
	height: 42px;
	color: white;
	border-radius: 6px;
	font-weight: 600;
	font-size: 18px;
    text-decoration: none;
}

.button.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}


.buttonChange {
	background-color: #2081A5;
}

.buttonPay {
	background-color: #C76A37;
	margin-left: auto; 
	margin-right: 0;
}

.iconPurchaseClass {
	height: 46px;
	text-align: center;
	vertical-align: middle;
	line-height: 60px;
}

.awareText {
    font-family: Arial, sans-serif;
}

.steps {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 20px 0;
}

.step {
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 50%;
    background: #ddd;
    color: #333;
    font-weight: bold;
}

.step.active {
    color: white;
    background: #C76A37;
}

.payment-form {
	padding-top: 30px;
    text-align: left;
}

.payment-methods {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

.method {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
	cursor: pointer;
	max-width: 250px;
    width: 100%;
    height: 120px;
	object-fit: contain;
	border-radius: 6px;
	padding: 12px;
    transition: 0.43s all;
}

.method:hover {
    background: #adadad;
}

.method.active {
    background: #adadad;
}


.mbway {
    width: 130px;
    height: auto;
}

.multibanco {
    width: 200px;
    height: auto;
}

.paypal {
    width: 180px;
    height: auto;
}

.billing-info {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
}

.billing-info label {
    font-size: 16px;
    margin-top: 15px;
}

.paymentTextInputs {
	width: 100% !important;
}

.billing-info input, .billing-info select {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.buttonContinue {
    background: #C76A37;
	margin-left: auto; 
	margin-right: 0;
	margin-top: 20px;
}

.buttonContinue:hover {
    background: #B7531D;
}

.awareCheckBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Estilos para o Toggle Switch */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
    margin-right: 8px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(174, 174, 174);
    transition: background-color 0.4s;
    border-radius: 34px;
}

.slider::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: transform 0.4s;
    border-radius: 50%;
}

.switch input:checked+.slider {
    background-color: #ff6f00;
}

.switch input:checked+.slider::before {
    transform: translateX(26px);
}