* {
    font-family: 'Manrope', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Manrope', sans-serif;
    overflow-x: hidden;
    min-height: 100vh;
}

body {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url('/public/images/paymentBackground.png');
    background-size: cover;
    background-position: center;
}

.subtitle {
	font-size: 30px;
	font-weight: bold;
}

.title-line-container {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.title-line-container .titleWithHr {
    font-size: 22px;
    margin-right: 20px;
	font-weight: bold;
}

.title-line-orange {
    width: 100%;
    height: 3px !important;
    background-color: #C76A37;
    border: none;
    opacity: 100% !important;
}

.title-line-blue {
    width: 100%;
    height: 3px !important;
    background-color: #2081A5;
    border: none;
    opacity: 100% !important;
}

.paymentMethod {
	display: flex;
    justify-content: space-between;
    align-items: flex-start;
	background-color: #B1B1B1;
	height: 76px;
	border-radius: 8px;
	margin-top: 30px;
	margin-bottom: 30px;
	padding-top: 22px;
	padding-right: 22px;
	padding-left: 22px;
}

.paymentMethod img {
	width: 180px;
}

.title {
	margin-top: 20px;
	font-size: 80px;
	color: white;
	font-weight: bold;
	text-align: center !important;
}

.reviewInformationUpper {
	margin-top: 18px;
	padding: 12px;
	background-color: #B1B1B1;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.info-title {
	font-weight: bold;
}
	
.reviewInformationLower {
	padding: 12px;
	background-color: #D9D9D9;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

.button {
	cursor: pointer;
	text-align: center;
	vertical-align: middle;
	line-height: 42px;       /* mesmo valor que o height */
	width: 114px;
	height: 42px;
	color: white;
	border-radius: 6px;
	font-weight: 600;
	font-size: 18px;
}

.buttonChange {
	background-color: #2081A5;
}

.buttonPay {
	background-color: #C76A37;
	margin-left: auto; 
	margin-right: 0;
}

.iconPurchaseClass {
	height: 46px;
	text-align: center;
	vertical-align: middle;
	line-height: 46px;       /* mesmo valor que o height */
}

.awareText {
    font-family: Arial, sans-serif;
}

.main-content {
    margin-top: 100px;
    margin-bottom: 200px;
}

.payment-section {
    /* background: rgba(255, 255, 255, 0.9); */
	background-color: rgb(240, 240, 240);
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    margin: auto;
    text-align: center;
}

.steps {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

.step {
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    background: #ddd;
    color: #333;
    font-weight: bold;
}

.step.active {
    color: white;
    background: #C76A37;
}

.payment-form {
	padding-top: 30px;
    text-align: left;
}

.payment-methods {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

/*
.method {
    background: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px 20px;
    flex: 1;
    margin: 0 5px;
    cursor: pointer;
}

.method:hover {
    background: #ddd;
}
*/

.method {
	cursor: pointer;
	width: 120px;
	object-fit: contain;
	border-radius: 6px;
	padding: 12px;
	/* height: 70px; */
}

.method:hover {
    background: #ddd;
}

.billing-info {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
}

.billing-info label {
	padding-top: 16px;
    font-size: 16px;
}

.paymentTextInputs {
	width: 100% !important;
}

.billing-info input, .billing-info select {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.buttonContinue {
    background: #C76A37;
	margin-left: auto; 
	margin-right: 0;
	margin-top: 18px;
}

.buttonContinue:hover {
    background: #B7531D;
}
