* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html {
      height: 100%;
      font-family: 'Manrope', sans-serif;
  }
  
  .container {
      display: flex;
      height: 100vh;
  }
  
  .form-section {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
  }
  
  .form-container {
      max-width: 400px;
      width: 100%;
  }
  
  .form-container h2 {
      font-size: 24px;
      margin-bottom: 20px;
  }
  
  .form-container label {
      font-size: 14px;
      margin-top: 10px;
      display: block;
      color: #333;
  }
  
  .form-container input[type="text"],
  .form-container input[type="email"],
  .form-container input[type="password"],
  .form-container input[type="date"] {
      width: 100%;
      padding: 10px;
      margin: 5px 0 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
  }
  
  .form-container input[type="checkbox"] {
      margin-right: 10px;
  }
  
  .form-container button {
      width: 100%;
      padding: 10px;
      background-color: #ff8000;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
      margin-top: 10px;
  }
  
  .form-container button:hover {
      background-color: #e67500;
  }
  
  .account-link {
      text-align: center;
      margin-top: 15px;
      font-size: 14px;
  }
  
  .account-link a {
      color: #ff8000;
      text-decoration: none;
  }
  
  .account-link a:hover {
      text-decoration: underline;
  }
  
  .image-section {
      width: 50%;
      background-image: 
        linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url('/public/images/turisgo_darkPicture_auth.jpg');
      background-size: cover;
      background-position: center;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      text-align: center;
  }
  
  .image-text {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
  }
  
  .image-text h1 {
      font-size: 80px;
      margin-bottom: 10px;
      font-weight: bold;
  }
  
  .image-text p {
      font-size: 24px;
  }