/* Reset básico */
* {
    font-family: 'Manrope', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header Section */
.header {
    background-image: url('/public/images/tourDetailsheader.png');
    background-size: cover;
    background-position: center;
    height: 350px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    transition: all 0.42s ease;
}
.header h1 {
    font-size: 48px;
    font-weight: bold;
}
.header p {
    font-size: 24px;
    color: white;
}

.map-container {
    margin-top: -400px;
}

/* Tour Details Section */
.tour-details {
    margin-top: 350px !important;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
    font-size: 1.1rem;
    color: #1b1b1b;
}

.image-slider {
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.image-slider img {
    width: 100%;
    max-width: 800px;
    border-radius: 8px;
}

/* Section Title and Divider Container */
.section-title-container {
    display: flex;
    align-items: center;
    gap: 15px; /* Espaço entre o título e a linha */
    margin-bottom: 20px;
}

/* Section Title */
.section-title {
    font-size: 1.8rem;
    font-weight: bold;
    color: #1B1B1B;
}

/* Section Divider */
.section-divider {
    border: none;
    height: 2px;
    background-color: blue;
    flex-grow: 1;
}

#map {
    height: 400px;
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 30px;
    border: 2px solid #ddd;
    border-radius: 8px;
    z-index: 1;
}
  
@media (max-width: 768px) {
    #map {
        margin: 0 15px;
    }
}

/* Button Group */
.button-group {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.btn {
    padding: 10px 20px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.btn-primary {
    background-color: #298F67;
    width: 150px;
}

.btn-secondary {
    background-color: #2081A5;
    width: 150px;
}

/* Paragraph Styling */
.tour-details-text {
    margin: 10px 0 20px;
    line-height: 1.6;
    font-size: 1rem;
    color: #1B1B1B;
}

.weather-section {
    margin: 50px auto;
    width: 100%;
    max-width: 1000px;
    height: 250px;
    background-color: #f1f1f1;
    border-radius: 8px;
    display: flex;
    flex-wrap: nowrap;
}

.weather-head-today {
    line-height: 30px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 15px;
    width: 100%;
    background-color: #2081A5;
    color: white;
}

.weather-head-today {
    border-top-left-radius: 8px;
}

.weather-head {
    text-align: center;
    justify-content: center;
    background-color: #2081A5;
    color: white;
    width: 100%;
    line-height: 30px;
    padding: 15px;
}

.weather-card:last-child .weather-head {
    border-top-right-radius: 8px;
}

.weather-card-today {
    width: 280px;
}

.weather-card {
    position: relative;
    width: 120px;
    text-align: center;
    justify-content: center;
    background-color: #f1f1f1;
}

.weather-card .weather-content {
    margin-top: 25px;
}

.weather-card:nth-child(even)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 1;
    pointer-events: none;
}

.weather-content {
    padding: 15px;
}

.weather-content .temp {
    font-size: 50px;
}

.weather-content .temp-today {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weather-content .temp-today img {
    width: 60px;
}

.weather-content img {
    width: 40px;
}

.weather-status {
    margin-top: 35px;
}

.weather-content .weather-status {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weather-content .weather-status .weather-individual-status {
    display: flex;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
}

.weather-individual-status img {
    width: 20px;
}